/Carga_Electronica/.settings
/Carga_Electronica/Debug
/Carga_Electronica/Carga_Electronica Debug.launch
/.metadata
/Carga_Electronica/.metadata/
/Carga_Electronica/.mxproject
/Carga_Electronica/Middlewares/
/Carga_Electronica/Drivers/

